*{
    font-family: 'Courier Prime', monospace;
    text-align: center;
}

#navbarNav{
    justify-content: flex-end;
}

body{
    background-color: rgba(223, 247, 247, .3);
}

.bodyChile{
    background-image: url('/public/covid19/assets/img/onu_map.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(223, 247, 247, .3);
}

.interaaciones{
    float: inline-end;
}

.tituloCovid{
    text-align: center;
    padding-top: 45px;
}

.tituloCovidChile{
    text-align: center;
    padding-top: 45px;
    padding-bottom: 25px;
}

.covin{
    text-align: left;
}

table, th, td{
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

h3{
    font-size: 33px;
    margin-top: 3rem;
}

#tablaDatos{
    margin: 2rem auto;
    width: 73%;
}

#tablaDatos tbody tr:hover {
    background-color: rgba(50,50,50, .4);
    color: white;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(50,50,50, .3);
    display: none;
}
  
#modal.show {
    display: block;
}
  
#contenidoDelModal {
    width: 50%;
    height: 50vh; 
    background-color: white;
    margin: 2rem auto;
    border-radius: 1rem;
}